 <% if @scheduled_video_posts.any? %>
    <div class="content_list clearfix">
       <% @scheduled_video_posts.each do |video| %>
          <div class="textual">
            <div class="box">
              <%= link_to 'x', [@user, @business, video], confirm: "Are you sure", method: :delete, class: "delete_button",:title => "Delete this Post" %>

              <span class="label white time"><%= video.publish_date.strftime("%d-%m-%y %H:%M") if !video.publish_date.nil?%></span>
              <div class="img_wrap">
                 <%= image_tag video.thumbnail_url %>
                 <span class="large_image_url" style="display: none"><%= video.embed_url %></span>
               </div><!--img_wrap-->
               <a href="<%= video.link %>", class="post_link", target="_blank"><h6><%= video.title %></h6></a>
               
              <%= link_to "Edit", edit_user_business_scheduled_post_path(@user, @business, video, post_type: "video"), class: "small button white nice schedule_post edit_scheduled_post radius" %>
              </div><!--box-->
          </div><!--images-->
      <% end %>
    </div><!--content_list-->
    <%= will_paginate @scheduled_video_posts %>
 <% else %>
      <div class="no_posts clearfix">
        <h2>No scheduled posts.</h2>
      </div>
<% end %>

 <div id="img_reveal" class="reveal-modal">
      <img src="" id="large_image_placeholder" />
      <a class="close-reveal-modal">&#215;</a>
 </div>